
@media screen and (min-width:0px) and (max-width:580px)
{
    .carddd{
        width: 25rem;
        text-transform: lowercase;
    
    }

.card-body{
    padding-top: 10px;
    font-size: 10px;
}
.carddd:hover{
    box-shadow: 5px -4px 6px black;
}
}